{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Erreur lors de la complétion du formulaire
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-8">
                    {% if property.pictures %}
                        {% for picture in property.pictures %}
                        {# vich_uploader_asset load automatically path to imageFile passed in parameters  #}
                            <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}" alt="Image" class="card-img-top">
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} pièces - {{ property.surface }} m²</h2>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold;">
                        {{ property.formattedPrice }}
                    </div>
                    <a href="#" class="btn btn-primary" id="contactButton" {% if form.vars.submitted %} style="display: none;" {% endif %}>Contact agency</a>

                    <div id="contactForm" class="mt-4" {% if not form.vars.submitted %} style="display: none;" {% endif %}>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {# Display remaining fields #}
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">

        <p>{{ property.description | nl2br }}</p>

        <h2>Features</h2>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <td>Livable Surface</td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Rooms</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Bedrooms</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Floor</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Heat</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Specificities</h2>
                {% if property.options %}
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">
                            {{ option.name }}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contactForm') }}
{% endblock %}